html{
    background-color: aliceblue;
}

h1{
    color: #343434;
    font-family: 'Cabana', sans-serif;  
    font-size: 64px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}

h2{
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
}

p{
    color: #343434;
    font-family: 'Orienta', sans-serif;
}

ul{
    font-family: 'Orienta', sans-serif;
}

ol{
    font-family: 'Orienta', sans-serif;
}

img{
    width: 300px;
    height: 250px;
}

.big_image{
    width: 350px;
    height: 300px;
}

.small_image{
    width: 300px;
    height: 250px;
}

a{
    font-family: 'Orienta', sans-serif;
    font-size: 24px;
    font-style: oblique;
}

@font-face {
	font-family: 'Cabana';
	src: url('../fonts/fonts/cabana.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/fonts/cabana.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/fonts/cabana.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/fonts/cabana.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/fonts/cabana.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/fonts/cabana.svg#cabana') format('svg'); /* Chrome < 4, Legacy iOS */
}