html{
    background-color: aliceblue;
}

h1{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}

h2{
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Orienta', sans-serif;
}

p{
    color: #343434;
    font-family: 'Orienta', sans-serif;
}

ul{
    font-family: 'Orienta', sans-serif;
}

ol{
    font-family: 'Orienta', sans-serif;
}

img{
    width: 300px;
    height: 250px;
}